body {
  background-color: #008975;
  font-family: 'Raleway', sans-serif;
}
.header {
  text-align: center;
  color: #fff;
}

.spinner {
  color: #fff;
}


.ReactFlipCard {
    margin: 25px;
    text-align: center;
    font-size: x-large;
  }
  .ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    width: 450px;
    height: 225px;
  }
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    border-radius: 10px;
    border: 3px solid #fff;
    padding: 25px;
  }
  .ReactFlipCard__Front {
    background-color: #00BF9A;
    color: #fff;
  }
  .ReactFlipCard__Back {
    background-color: #00BF9A;
    color: #fff;
  }

  button {
    margin-top: 50px;
    font-size: large
  }

  .footer {
    text-align: center;
  
  }

  .backButton {
    color: #fff;
    background-color: #00BF9A;
    border: 3px solid #fff;
    border-radius: 5px;
    margin-bottom: 25px;
  }

@media screen and (max-width:500px) {
    .ReactFlipCard,
    .ReactFlipCard__Front,
    .ReactFlipCard__Back {
    width: 94%;
    }
  }
